body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.CodeTop {
    font-size: 2rem;
    font-weight: bold;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #333;
    color: #fff;
}

.generateButton, .uploadButton {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

pre {
    background-color: #1e1e1e;
    color: #f8f8f2;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto; /* Horizontal scroll bar only if necessary */
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    table, th, td {
        display: block;
        width: 100%;
    }

    th, td {
        padding: 10px;
        text-align: right;
    }

    th {
        background-color: transparent;
        color: #333;
    }

    th::after {
        content: ":";
    }

    td {
        border-top: none;
        border-bottom: none;
        text-align: left;
        padding-left: 50%;
        position: relative;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
}